/* Navbar Styling */
.custom-navbar {
  background-color: #F4C7AB; /* Light peach background */
  padding: 15px 50px; /* Add padding for spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-brand {
  color: #333 !important;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Serif";
  margin-right: auto; 
}

/* Navigation Links */
.nav-links {
  display: flex;
  margin-left: 100%;
  align-items: center;
  gap: 10px; 
}

.nav-item {
  color: #333 !important;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav-item:hover {
  text-decoration: underline;
}

/* Login Button */
.login-btn {
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 15px;
  border: 2px solid #333;
}

.login-btn:hover {
  background-color: #333;
  color: white;
}
